.product_details {
  max-width: 100vw;
  min-height: 100vh;
  padding: 3rem 0 2rem;
}

.product_details_one {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product_details_image {
  width: 350px;
  aspect-ratio: 3 / 4;
  margin: 0 2%;
  background-color: white;
}

.product_details_image img {
  height: 100%;
  object-fit: contain;
}

.product_details_description {
  width: 500px;
  margin: 0 2%;
}

.details_name {
  margin: 0 0 1rem;
  font-size: 20px;
}

.details_price {
  margin: 0 0 1rem;
  font-size: 25px;
}

.details_desc {
  font-size: 20px;
  line-height: 1.5;
}

.details_actions {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin: 8% 0 0;
}

.details_actions button {
  padding: 1rem 2rem;
  font-size: clamp(15px, 3vw, 18px);
  margin: 0 10px 0 0;
  background-color: var(--green);
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

.details_actions svg {
  margin: 0 0 0 10px;
  cursor: pointer;
}

.product_details_two {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 1.5rem;
}

.product_details_two h2 {
  margin: 0 0 2rem;
}

.also_like {
  display: flex;
  overflow-x: auto;
}

.also_like img {
  width: 200px;
  aspect-ratio: 3/4;
  object-fit: contain;
  background-color: white;
  margin: 0 10px;
}

@media (max-width: 500px) {
  .product_details {
    padding: 0 0 2rem;
  }
  .product_details_one {
    flex-direction: column;
  }

  .product_details_image {
    width: 100%;
    margin: 0 0 1rem;
    padding: 1rem;
  }

  .product_details_description {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
  }

  .details_actions {
    width: 100%;
    justify-content: space-around;
  }

  .details_actions button {
    width: 80%;
  }
}

@media (max-width: 340px) {
  .details_desc {
    font-size: 18px;
  }
}
