.cart_item {
  width: 100%;
  padding: 1em;
  display: flex;
  border: 2px solid #c5c5c5;
  background-color: #c5c5c5;
  position: relative;
  margin: 0 0 1rem;
}

.cart_item img {
  width: 30%;
  aspect-ratio: 3/4;
  background-color: white;
  object-fit: contain;
}

.cart_item_desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem 1rem;
}

.cart_item_desc p,
h4 {
  margin: 0 0 5px;
}

.quantity {
  display: flex;
}

.inc,
.qty,
.dec {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.inc,
.dec {
  color: white;
  background-color: #505050;
  border: 1px solid transparent;
  cursor: pointer;
}

.delete_from_cart {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 1rem;
  font-size: 20px;
  color: #505050;
  cursor: pointer;
}

@media (max-width: 850px) {
  .cart_item_desc p,
  h4 {
    margin: 0 0 15px;
  }
}

@media (max-width: 430px) {
  .cart_item img {
    width: 40%;
  }
}
